/build/
/.idea/
/.vscode/
/**/*/node_modules/
/node_modules/
/reports/
/cache/
/logs/
/**/*/cache/
/src/
/**/*/src/
/generated/
/**/*/generated/
/artifacts/
/@rerun.txt
/usage.txt
/.env
/**/*/.env
/simulation/deployments/localhost/
/simulation/contracts
.bin
/deployments_package/artifacts/
/deployments_package/types/
/scripts/create-troves.js
/deployments_package/deployments/localhost
/deployments_package/dist
/.DS_Store
.npmrc
data
out
./openzeppelin
agent.y*ml
/kubectl.sha256
/lib/
